/* basic styling */

.wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fff;
}

html, body  {
    background-image: url("../images/gcenter-2021.jpg");


}



.menu {
    background-color: transparent;
}

.menu a {
    font-size: 2em;

}

.header {
    background-color: transparent;
}


.header video{
    background-color: transparent;
    width: 100%;
    height: auto;
}

.showcase {
    background-color: none;
}

.music {
    background-color: #d8d;
}



.feed {
    background-color: #ff6f69;
}


.content {
    background-color: #ffcc5c;
}


.prayer {
    background-color: #ff6f69;
}

.courses {
    background-color: #d8d;
}

.footer {
    background-color: transparent;
}

.copyright {
    background-color: transparent;
    padding: 0 10px;
    margin: 10px;
}

.top {
    align-content: center;
    margin: 10px;
}


.row > div {
    padding-left: 10px;
    color: #ffeead;
    display: flex;
    font-size: 20px;
}


html {
    padding: 0 10px;
    margin: 0 10px;
}

body > .row {
    margin: 0;
    padding: 5px 5px;
}

.row > .menu  {
    height: 20px;
}


.row > .header {
    height: 20px;
}

.row > .showcase {
    height: auto;
}

.row > .feed {
    height: 20px;
}

.row > .content  {
    height: 40px;
}

.row > .music {
    height: auto;
}

.row > .prayer {
    height: auto;
}

.row > .courses {
    height: auto;
}

.row > .footer {
    height: 40px;
}

.row > .copyright {
    height: 20px;
}
