.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(3, 1fr) / repeat(12, 1fr);
   
}


.menu {
    grid-column: span 12;
}

.header {
    grid-column: span 12;
}

.showcase {
    grid-column: span 12;
    place-items: center;
}


.music {
    grid-column: span 12;
    place-items: center;
}

.feed {
    grid-column: span 12;
}

.content {
    grid-column: span 12;
}


.prayer {
    grid-column: span 12;
    place-items: center;
}


.courses {
    grid-column: span 12;
    place-items: center;
}


.footer {
    grid-column: span 12;
}

.copyright {
    grid-column: span 12;
}

.box1 {
    grid-column: span 6;

}


@media screen and (max-width: 480px) {
    
    .menu {
        grid-row: 1;
        grid-column: span 12;
    }
    
    .header {
        grid-column: span 6;
    }
    
    .content {
        grid-column: span 12;
    }
}
