.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(3, 1fr) / repeat(12, 1fr);
    justify-content: center;
    align-items: center;
   
}


.menu {
    grid-column: span 12;
}


.navbar-brand img {
    display: inline-block;
    padding: 0 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    vertical-align: middle;
}


.navbar-nav a {
    max-width: 100%;
    text-align: center;
    color: #ffcc5c;
    display: inline-block;
    text-underline-offset: none;
    text-transform: uppercase;
    padding: 0 10px;
    vertical-align: middle;
}


.header {
    grid-column: span 12;
}

.showcase {
    grid-column: span 12;
    place-items: center;
}


.music {
    grid-column: span 12;
    place-items: center;
}

.feed {
    grid-column: span 12;
}

.content {
    grid-column: span 12;
}


.prayer {
    grid-column: span 12;
    place-items: center;
}


.courses {
    grid-column: span 12;
    place-items: center;
}


.footer {
    grid-column: span 12;
}

.copyright {
    grid-column: span 12;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 10px;
    vertical-align: middle;
}

.box1 {
    grid-column: span 6;

}

